
.container{
    display: flex;
    gap: 30px;

}

.box{
    background-color: teal;
    padding: 30px;
    border-radius: 10px;
    color: white;
    font-size: large;

}

.box-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.items{
    width: 100px;
    background-color: red;
    padding: 20px;
    border-radius: 20px;
}

.img-container{
    margin-top: 20px;
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 150px);
}

img{
    width: 100%;
    height: 100%;
}

.big-layout{
    grid-column: span 6;
    grid-row: span 2;
}

.normal-layout{
    grid-column: span 2;
    grid-row: span 2;
}

.small-layout{
    grid-column: span 1;
    grid-row: span 1;
}
.wide-layout{
    grid-column: span 2;
    grid-row: span 1;
}

.grid-container{
    
    /* padding: 20px; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px) 50px 50px;
}
#sidebar{
    grid-row: span 5;
}

#footer{
    grid-column: span 3;
}
.box-grid{
    padding: 10px;
    
    background-color: grey;

}

@media screen  and (max-width:576px){
    .container{
        flex-direction: column;
    }

    .items{
    width: 100%; }

    .img-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
    .big-layout,
     .normal-layout, 
     .small-layout,
      .wide-layout{
        grid-row: span 1;
        grid-column: span 1;

    }
}